# Large files and directories to be ignored
data
benchmark
checkpoints
outputs
outputs_old

# Python cache files
.pytest_cache
__pycache__

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode

# Ignore temporary files
*temp.ipynb

# Environment files
.env